.content__with__sidebar {
  width: auto;
  flex: 1;
}
.content__contain .content__wrap {
  padding: 65px 35px;
}
.interior__page__content .content__wrap h3 {
  font-weight: 700;
}
.interior__page__content .content__wrap h3:first-child {
  margin-top: 0;
}
.interior__page__content {
  opacity: 0;
  transform: translateY(50px);
}
.block__content__animations article {
  height: 300px;
  position: relative;
  overflow: hidden;
}
.block__content__animations figure.background__image {
  background-position: 0 -300px !important;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 300ms cubic-bezier(.17,.67,.83,.67);
}
.block__content__animations a:hover figure.background__image:not(.background__image__contrast) {
  transform: scale(1.1);
  opacity: 0.5;
}
.block__content__animations a:hover figure.background__image__contrast {
  transform: scale(1.1);
  opacity: 1;
}
.block__content__animations article:before {
  content: "";
  display: block;
  background-color: rgba(0,0,0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.block__content__animations .content__wrap {
  padding: 0 40px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(24,25,26,.30);
  transition: all 500ms cubic-bezier(.15,.61,.22,.88);
  @media screen and (min-width: 600px) {
    width: 650px;
  }
  @media screen and (min-width: 320px) {
    width: 300px;
  }
}
.block__content__animations a {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  height: 100%;
  text-decoration: none;
}
.block__content__animations a .read__more {
  position: absolute;
  right: 185px;
  bottom: 45px;
  transition: opacity 200ms cubic-bezier(.15,.61,.22,.88) 0ms;
}
.block__content__animations a h5,
.block__content__animations a h2 {
  transition: all 300ms cubic-bezier(.15,.61,.22,.88);
}
.block__content__animations a h5 {
  transition-delay: 250ms;
}
.block__content__animations a h2 {
  transition-delay: 200ms;
}
.block__content__animations a:hover .content__wrap {
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  background-color: rgba(255, 177, 0, .85);
  width: 70%;
}
.block__content__animations a:hover h5,
.block__content__animations a:hover h2 {
  transform: translateY(-30px);
}
.block__content__animations a:hover h2 {
  transition-delay: 200ms;
}
.block__content__animations a * {
  color: #fff;
}
.block__content__animations a h2 {
  margin-top: 0;
}
.block__content__animations a h5 {
  margin-bottom: 10px;
}
.block__content__animations a h5:before {
  display: block;
  content: "";
  width: 45px;
  height: 1px;
  background-color: #FFB100;
  margin-bottom: 10px;
  transition: all 300ms cubic-bezier(.15,.61,.22,.88);
}
.block__content__animations a:hover h5:before {
  background-color: #fff;
}