.content__with__sidebar {
  flex: 1;
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 767px) {
    width: 50%;
  }
}
.content__contain .content__wrap {
  padding-left: 35px;
  padding-right: 35px;
}
.content__contain .content__wrap:first-child {
   padding-top: 65px;
}
.content__contain .content__wrap:last-child {
  padding-bottom: 65px;
}
.interior__page__content .content__wrap h2 {
  font-size: 30px;
}
.interior__page__content .content__wrap h3 {
  font-weight: 700;
}
.interior__page__content {
  opacity: 0;
  transform: translateY(50px);
}
.interior__page__content .content__wrap ul li {
  margin-bottom: 15px;
  line-height: 30px;
}
.block__content__animations article {
  height: 300px;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    width: 50%;
  }
}
.block__content__animations figure.background__image {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 300ms cubic-bezier(.17,.67,.83,.67);
}
.block__content__animations a:hover figure.background__image:not(.background__image__contrast) {
  transform: scale(1.1);
  opacity: 0.5;
}
.block__content__animations a:hover figure.background__image__contrast {
  transform: scale(1.1);
  opacity: 1;
}
.block__content__animations .content__wrap {
  padding: 0 40px;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(24,25,26,.60);
  transition: all 300ms ease-out;
}
.block__content__animations a {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  height: 100%;
  text-decoration: none;
  transition: all 200ms ease-out 0ms;
}
.block__content__animations a .read__more {
  position: absolute;
  right: 185px;
  bottom: 45px;
  transform: translateX(20px);
  transition: all 200ms ease-out 200ms;
}
.block__content__animations a:hover .read__more {
  transform: translateX(0);
}
.block__content__animations a h5,
.block__content__animations a h2 {
  opacity: 0.7;
  transition: all 200ms ease-out 200ms;
}
.block__content__animations a h5 {
  transition-delay: 250ms;
}
.block__content__animations a h2 {
  transition-delay: 200ms;
}
.block__content__animations a:hover .content__wrap {
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  background-color: rgba(255, 177, 0, .85);
  width: 90%;
}
.block__content__animations a:hover h5,
.block__content__animations a:hover h2 {
  opacity: 1;
  transform: translateY(-30px);
}
.block__content__animations a:hover h2 {
  transition-delay: 200ms;
}
.block__content__animations a * {
  color: #fff;
}
.block__content__animations a h2 {
  margin-top: 0;
}
.block__content__animations a h5 {
  margin-bottom: 10px;
}
.block__content__animations a h5:before {
  display: block;
  content: "";
  width: 45px;
  height: 1px;
  background-color: #FFB100;
  margin-bottom: 10px;
  transition: all 300ms ease-out;
}
.block__content__animations a:hover h5:before {
  background-color: #fff;
}
.block__content__animations {
  display: flex;
  flex-wrap: wrap;
}
.generic__page .content__wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0;
}

.generic__page *:first-child {
  margin-top: 0;
}
.content__wrapper__generic .static__banner {
  text-align: center;
}
.content__wrapper__generic .static__banner h2 {
  display: inline-block;
}

.no-right-sidebar {
  flex: 0;
  flex-basis: 50%;
}
.interior__page__content ul,
.content__wrapper__generic ul {
  padding-left: 20px;
}
.child__wrap {
  padding: 45px 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.child__wrap h3 {
  margin-top: 0;
}
.content__wrap h3:first-child {
  margin-top: 0;
}
.single__page {
  position: relative;
  z-index: 1;
}