.content__with__sidebar {
  width: auto;
  flex: 1;
}
.content__contain .content__wrap {
  padding: 65px 35px;
}
.interior__page__content .content__wrap h3 {
  font-weight: 700;
}
.interior__page__content .content__wrap h3:first-child {
  margin-top: 0;
}
.interior__page__content {
  opacity: 0;
  transform: translateY(50px);
}