//.recent__posts li a {
//  text-decoration: none;
//  display: block;
//  color: #5d6771;
//  transition: all 600ms ease-out;
//  box-shadow: 0 10px 20px rgba(255,255,255,1) inset, 0 1px 3px rgba(0,0,0,0.23);
//  border-radius: 2px;
//  padding: 10px 20px;
//  border: 1px solid rgba(93, 102, 113, 0.05);
//}
//.recent__posts li a:hover {
//  box-shadow: inset 1px 1px 10px rgba(0,0,0,0.05), 0 0 1px transparent;
//  border: 1px solid rgba(93, 102, 113, 0.20);
//}
//.recent__posts li {
//  list-style-type: none;
//}
//.recent__posts li:not(:last-child) {
//  margin-bottom: 15px;
//}
.single__page__content {
  box-shadow: 0 0 15px rgba(44,62,80,0.10);
  border: 1px solid rgba(0,0,0,0.05);
  position: relative;
  z-index: 2;
}
.single__page__content .wrap {
  padding: 35px;
  position: relative;
}
.single__page .background__image {
  width: 100%;
  height: 300px;
  margin: 0;
  background-position: center top !important;
}
.single__page__content h1 {
  margin-top: 0;
  margin-bottom: 15px;
}
.single__page__content .date,
.single__page__content .categories {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}
.single__page__content .categories {
  margin-bottom: 25px;
}
.single__page__content .date .fa-clock {
  margin-right: 5px;
}
.single__page__content ul,
.single__page__content ol {
  padding-left: 35px;
}
.single__page__content p img {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.10), 0 3px 12px rgba(0, 0, 0, 0.10);
}
ul.social__media__module {
  position: absolute;
  width: 48px;
  border-radius: 2px;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  padding: 15px;
  margin: 0;
  box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.05) inset;
  border: 1px solid rgba(0,0,0,0.08);
  list-style-type: none;
  transition: all 350ms ease-out;
}
.social__media__module li {
  text-align: center;
}
.social__media__module li  a {
  display: block;
}