.our__vision {
  background-color: #E5E6E6;
}

.our__vision .background__image.secondary {
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
  opacity: 0;
  transform: translateX(-200px);
}

.our__vision h2.title,
.our__vision p {
  opacity: 0;
  transform: translateY(20px);
}

.our__vision .col:first-child {
  @media screen and (min-width: 767px) {
    width: 35%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.our__vision .col:last-child {
  flex: 1;
  width: auto;
}

.our__vision .content__wrap {
  @media screen and (min-width: 320px) {
    padding: 150px 40px;
  }
}

// core values

.core__values {
  position: relative;
  @media screen and (min-width: 767px) {
    padding: 100px 0;
  }
  @media screen and (min-width: 320px) {
    padding: 100px 50px;
  }
}

.core__values,
.core__values h4,
.core__values h2 {
  color: #ffffff;
}

.core__values h4 {
  font-weight: 700;
}

.core__values .row {
  position: relative;
  z-index: 5;
}

.core__values .tint {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
}

.core__values .background__image {
  clip-path: none;
  background-size: cover;
  width: 100%;
}

.core__values .col:first-child {
  align-self: stretch;
  position: relative;
  @media screen and (min-width: 767px) {
    width: 20%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.core__values .col:first-child:after {
  position: absolute;
  top: 0;
  @media screen and (min-width: 1200px) {
    right: 60px;
  }
  @media screen and (min-width: 767px) {
    right: 40px;
    left: auto;
  }
  @media screen and (min-width: 320px) {
    left: -20px;
  }
  content: '';
  display: block;
  width: 1px;
  height: 0;
  opacity: 0;
  background-color: rgba(255,255,255,.2);
}

.core__values .col:last-child {
  @media screen and (min-width: 767px) {
    width: 50%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.core__values h2 {
  align-self: flex-start;
  opacity: 0;
  transform: translateY(-20px);
}

.core__values .content__wrap {
  opacity: 0;
  transform: translateY(20px);
}

// history blocks

.history__blocks {
  background-color: #18191a;
}

.history__blocks h3 {
  margin-top: 0;
}

.history__blocks .col {
  @media screen and (min-width: 767px) {
    width: 33.3333%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.history__blocks .wrap {
  position: relative;
  height: 375px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(200px);
}

.history__blocks .wrap * {
  pointer-events: none;
  text-align: center;
  color: #ffffff;
}

.history__blocks .content__wrap {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.history__blocks .content__back {
  opacity: 0;
}

.history__blocks .content__wrap {
  transition: all 300ms;
}

.history__blocks .image {
  background-position: top center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.history__blocks .tint {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms;
}

.history__blocks .tint__alternate {
  transform: translateX(100%);
  opacity: 0;
  background-color: rgba(113,0,20,0.5);
}

.history__blocks h3,
.history__blocks p {
  opacity: 0;
  transform: translateY(100%);
  transition: all 300ms;
}

.history__blocks h3 {
  transition-delay: 292ms;
}

.history__blocks p {
  transition-delay: 295ms;
}



// history block animation

.history__blocks .wrap.active {
  cursor: default;
}

.history__blocks .wrap.active .content__front {
  opacity: 0;
}

.history__blocks .wrap.active .content__back {
  opacity: 1;
}

.history__blocks .wrap.active .tint__alternate {
  transform: translateX(0);
  opacity: 1;
}

.history__blocks .wrap.active h3 {
  opacity: 1;
  transform: translateY(0);
}

.history__blocks .wrap.active p {
  opacity: 1;
  transform: translateY(0);
}

.history__blocks .wrap p {
  @media screen and (min-width: 767px) {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    font-size: 14px;
  }
}

.history__blocks .wrap:hover .tint__primary {
  background-color: rgba(0, 0, 0, .8);
}

// our history chart

.our__history.about__page {
  background-color: #18191A;
  position: relative;
  min-height: 100vh;
}

.our__history .svg__wrap {
  padding: 40px 0;
  max-width: 90%;
  margin: 0 auto;
}

.our__history svg {
  padding-top: 40px;
}

.our__history .cls-1 {
  fill: #fff
}

.our__history .cls-4 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: .181px
}

.our__history circle {
  cursor: pointer;
}

.our__history circle,
.our__history path {
  opacity: 0;
}

.our__history svg.arrow {
  padding: 0;
  @media screen and (min-width: 320px) {
    width: 40px;
  }
  @media screen and (min-width: 320px) {
    width: 30px;
  }
}

.our__history svg.arrow path {
  opacity: 1;
  fill: #FFF;
}

.our__history .date {
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  margin: auto;
  width: 152px;
  max-width: 100%;
  opacity: 0;
}

.our__history h1.title {
  position: relative;
  color: #fff;
  font-size: 70px;
}

.our__history h1.title:before {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.our__history .arrow__controls {
  width: 990px;
  max-width: 100%;
  position: absolute;
  top: 450px;
  left: 0;
  right: 0;
  margin: auto;
}

.our__history .arrow__controls .col {
  @media screen and (min-width: 1600px) {
    width: 50%;
  }
  @media screen and (min-width: 320px) {
    width: 46%;
  }
}

.history__chart .content__wrap {
  position: relative;
  top: 30px;
}

.history__chart__content {
  position: absolute;

  left: 0;
  right: 0;
  margin: auto;
  width: 650px;
  max-width: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  padding: 40px;
  @media screen and (min-width: 767px) {
    top: 400px;
  }
  @media screen and (min-width: 320px) {
    top: 300px;
  }
}

.history__chart__content h2 {
  @media screen and (min-width: 767px) {
    font-size: 33px;
  }
  @media screen and (min-width: 320px) {
    font-size: 18px;
  }
}

.history__chart__content.active {
  opacity: 1;
  visibility: visible;
}

.history__chart__content .content__wrap * {
  color: #fff;
  opacity: 0;
}

.history__chart__content h1 {
  font-size: 75px;
  margin-bottom: 0;
}

.our__history .arrow  {
  opacity: 0;
}

.our__history .arrow:hover path {
  fill: #ffb100;
}

// our culture video

.our__culture__video {
  margin: 0 auto;
  position: relative;
  background-color: #18191a;
}

.our__culture__video * {
  color: #fff;
}

.our__culture__video .col {
  padding: 35px;
}

.our__culture__video .col:first-child {
  @media screen and (min-width: 767px) {
    width: 40%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.our__culture__video .col:last-child {
  @media screen and (min-width: 767px) {
    width: 60%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.our__culture__video .clippy {
  clip-path: polygon(100% 23%, 0% 100%, 100% 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1024px;
  background-color: #2A3036;
}