.drill__down,
.drill__down ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.drill__down li .children {
  overflow: hidden;
  height: 0;
  opacity: 0;
}
.col.sidebar .content__wrap .drill__down:not(:last-child) {
  margin-bottom: 15px;
}
.drill__down.level-1-children {
  box-shadow: 0 3px 12px rgba(0,0,0,0.05), 0 3px 12px rgba(0,0,0,0.05);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  overflow: hidden;
}
.drill__down li {
  margin-bottom: 0;
  position: relative;
}
.drill__down a {
  margin-bottom: 0;
  display: block;
  display: flex;
  align-items: center;
}
.drill__down a span {
  display: block;
  padding: 20px;
}
.drill__down  a,
.drill__down a span {
  font-size: 14px;
  text-decoration: none;
  color: #95989a;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  position: relative;
}
.drill__down li.list__title {
  margin: 10px 0;
}
.drill__down li.list__title span {
  font-weight: 700;
}
.drill__down a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: $color-yellow;
  transform-origin: 100% 50%;
  transition: left 350ms ease, opacity 100ms ease;
}
.drill__down.children > li.toggle > a:after {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  transform: rotate(315deg);
  color: #ffb100;
  content: '';
  display: inline-block;
  height: 6px;
  right: 20px;
  position: absolute;
  top: 25px;
  width: 6px;
  transition: all 350ms ease-out;
}
.drill__down a:hover:before,
.drill__down a.active:before {
  left: 0;
}
.drill__down a.active.current-page:before {
  background: $color-gray;
}
.drill__down a:hover span {
  //transform: translateX(20px);
  color: #ffffff;
}
.drill__down.children > li > a:hover:after {
  color: #ffffff;
}
.drill__down li.active a span {
  color: $color-red;
}
.drill__down.open li span {
  color: $color-dark-gray;
}
.drill__down li.active a:hover span,
.drill__down a.active span,
.drill__down li a:hover span {
  color: #fff;
}
.drill__down.children > li > a.active:after {
  color: #ffffff;
}
.drill__down.children > li > a.active:after {
  transform: rotate(403deg);
}
.drill__down.level-1-children li.toggle > a,
.drill__down.level-1-children > li:not(.toggle) > a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.drill__down.level-2-children li > a {
  padding-left: 50px;
}
.drill__down.level-3-children li a {
  font-size: 14px;
  padding-left: 60px;
}
