.drill__down,
.drill__down ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.col.sidebar .content__wrap .drill__down:not(:last-child) {
  margin-bottom: 15px;
}
.drill__down.level-1-children,
.drill__down.categories {
  box-shadow: 0 3px 12px rgba(0,0,0,0.05), 0 3px 12px rgba(0,0,0,0.05);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  overflow: hidden;
  padding: 15px;
}
.drill__down li {
  margin-bottom: 0;
}
.drill__down a {
  margin-bottom: 0;
  border-bottom:  1px solid rgba(0,0,0,0.05);
  display: block;
  padding: 10px 0;
}
.drill__down  a,
.drill__down a span {
  font-size: 14px;
  text-decoration: none;
  display: block;
  color: #95989a;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  position: relative;
  overflow: hidden;
}
.drill__down li.list__title {
  margin: 10px 0;
}
.drill__down li.list__title span {
  font-weight: 700;
}
.drill__down a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 60px;
  height: 25px;
  border-radius: 50%;
  background: $color-yellow;
  transform-origin: 100% 50%;
  transform: scale3d(1, 2, 1);
  transition: transform 300ms, opacity 300ms;
  transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}
.drill__down a:hover:before {
  transform: scale3d(9, 9, 1);
}
.drill__down a:hover span {
  transform: translateX(20px);
  color: #ffffff;
}
.drill__down li.active a span {
  color: $color-red;
}
.drill__down li.active a:hover span {
  color: #fff;
}
.drill__down.level-2-children li a span {
  padding-left: 15px;
}
.drill__down.level-3-children li a span {
  padding-left: 30px;
}