.history .col {
  @media screen and (min-width: 1024px) {
    width: 45%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.history .row {
  align-items: center;
}

.history {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 50px;
  position: relative;
}

.history .background__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.history .content__wrap {
  position: relative;
  z-index: 2;
}

.history h1,
.history {
  color: #ffffff;
}

.history h1 .word,
.history p,
.history .button {
  opacity: 0;
}

.history p {
  animation-delay: 1s;
}

.history .button {
  animation-delay: 1.2s;
}

.history h1.title-slide-in .word {
  opacity: 1;
}

.history h1.title:before {
  right: -200px;
  opacity: 0;
}

.history h1.title.title-slide-in:before {
  right: 0;
  opacity: 1;
}
