.news__posts .col {
  padding: 10px;
  @media screen and (min-width: 767px) {
    width: 33.3%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.news__posts article {
  position: relative;
  overflow: hidden;
}

.news__posts article a {
  display: flex;
  padding: 30px;
  height: 250px;
  text-decoration: none;
  position: relative;
}

.news__posts a h3:before {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  opacity: 0;
  background-color: #fff;
  margin-bottom: 15px;
  transition: width 600ms ease-out 400ms, opacity 600ms ease-out 500ms;
}

.news__posts a p {
  color: #ffffff;
  opacity: 0;
  transition: opacity 600ms ease-out 300ms, transform 300ms ease-out 350ms;
}

.news__posts .background__image {
  background: url("assets/images/raw/banner_hp.jpg") no-repeat left center;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 50px);
  height: 100%;
  transition: transform 300ms ease-out, background-color 300ms ease-out 50ms, filter 300ms ease-out;
}

.news__posts a:hover .tint:before {
  background-color: rgba(255,177,0,0.9);
}

.news__posts a:hover p {
  opacity: 1;
  transition: opacity 600ms ease-out 300ms, transform 300ms ease-out 350ms;
  @media screen and (min-width: 991px) {
    transform: translateY(-35px);
  }
  @media screen and (min-width: 320px) {
    transform: translateY(-15px);
  }
}

.news__posts a:hover h3:before {
  width: 75px;
  opacity: 1;
  transition: width 600ms ease-out 200ms, opacity 600ms ease-out 400ms;
}

.news__posts a:hover .background__image {
  transform: scale(1.2);
}

.news__posts a h3 {
  color: #ffffff;
  font-weight: 700;
  transition: all 300ms ease-out 300ms;
}

.news__posts a:hover h3 {
  @media screen and (min-width: 991px) {
    transform: translateY(-35px);
  }
  @media screen and (min-width: 320px) {
    transform: translateY(-15px);
  }
  transition: all 300ms ease-out 300ms;
}

.news__posts .content__wrap {
  margin-top: auto;
  position: relative;
  z-index: 2;
  width: 100%;
}

.news__posts .col.text__align__center {
  width: 100%;
}