// static banner

.static__banner .col:first-child {
  width: 45%;
}

.static__banner .col:last-child {
  width: 55%;
}

.static__banner .background__image.secondary {
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
}

.static__banner .content__wrap {
  @media screen and (min-width: 320px) {
    padding: 150px 40px;
  }
}