.sidebar {
  opacity: 0;
  transform: translateY(50px);
}
.col.sidebar {
  @media screen and (min-width: 1400px) {
    width: 320px;
  }
  @media screen and (min-width: 1200px) {
    width: 285px;
  }
}
.col.sidebar.right {
  @media screen and (min-width: 1400px) {
    width: 400px;
  }
  @media screen and (min-width: 1200px) {
    width: 320px;
  }
}
.col.sidebar.right .content__wrap {
  background-color: transparent;
}
.col.sidebar .content__wrap {
  padding: 25px;
  background-color: #F7F7F7;
}
.col.sidebar .content__wrap.contact {
  background-color: #E5E6E6;
}
.col.sidebar .content__wrap.contact table {
  width: 100%;
  margin-bottom: 25px;
}
.col.sidebar .content__wrap.contact h5 {
  font-weight: 700;
}
.col.sidebar .content__wrap.contact td {
  font-size: 14px;
  padding: 5px 0;
}