// TODO: ANIMATE PSEUDO BLURRED ELEMENT (FADE OUT) FOR BETTER PERFORMANCE.

.is-selected .char,
.title-slide-in .char {
  animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation-delay: calc(1s * var(--char-percent));
  opacity: 0;

  @keyframes text-focus-in {
    0% {
      filter: blur(12px);
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
}