.static__banner h2.title,
.static__banner p {
  opacity: 0;
  transform: translateY(20px);
}
.static__banner .background__image {
  transform: translateX(200px);
  opacity: 0;
}
.static__banner__small .static__banner .content__wrap {
  @media screen and (min-width: 320px) {
    padding: 70px 30px;
  }
}
.static__banner__background__color .static__banner {
  background-color: #710014;
}
.static__banner__background__color .static__banner .content__wrap p,
.static__banner__background__color .static__banner .content__wrap h2 {
  color: #fff;
}
.static__banner .col:first-child {
  @media screen and (min-width: 767px) {
    width: 35%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}
.static__banner .col:last-child {
  width: auto;
  flex: 1;
}
.static__banner .background__image.secondary {
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
}
.static__banner .content__wrap {
  @media screen and (min-width: 320px) {
    padding: 150px 40px;
  }
}