.technology__and__services {
  background: url("assets/images/raw/tech_services_bg.jpg") no-repeat left center;
  clip-path: polygon(49% 9%, 100% 0, 100% 100%, 35% 92%, 0 100%, 0 0);
  padding: 120px 0;
  margin: 50px 0;
  position: relative;
}

.technology__and__services .row {
  justify-content: flex-end;
}

.technology__and__services .col {
  @media screen and (min-width: 1400px) {
    width: 40%;
  }
  @media screen and (min-width: 1024px) {
    width: 50%;
  }
  @media screen and (min-width: 700px) {
    width: 65%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.technology__and__services .content__wrap {
  padding: 0 40px;
}

.technology__and__services .icon__list .wrap {
  padding: 0;
}

.technology__and__services .content__wrap a {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 0;
  text-decoration: none;
  color: #ffffff;
}

.technology__and__services,
.technology__and__services h2 {
  color: #ffffff;
}

.technology__and__services {
  @media screen and (min-width: 1400px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 14px;
  }
}

.background__image.secondary {
  background: url("assets/images/raw/banner_hp.jpg") no-repeat left center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0%, 100% 1%, 69% 100%, 0% 100%);
  @media screen and (min-width: 700px) {
    display: block;
  }
  @media screen and (min-width: 320px) {
    display: none;
  }
}

.technology__and__services span {
  display: inline-block;
  position: absolute;
  opacity: 0;
  font-weight: 700;
  @media screen and (min-width: 320px) {
    left: 60px;
  }
}