.technology__and__services {
  background: url("assets/images/raw/tech_services_bg.jpg") no-repeat left center;
  clip-path: polygon(49% 9%, 100% 0, 100% 100%, 35% 92%, 0 100%, 0 0);
  padding: 120px 0;
  margin: 50px 0;
  position: relative;
}

.technology__and__services .row {
  justify-content: flex-end;
}

.technology__and__services .col {
  @media screen and (min-width: 1400px) {
    width: 40%;
  }
  @media screen and (min-width: 1024px) {
    width: 50%;
  }
  @media screen and (min-width: 700px) {
    width: 65%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.technology__and__services .content__wrap {
  position: relative;
  @media screen and (min-width: 1400px) {
    left: -150px;
  }
  @media screen and (min-width: 1024px) {
    left: -50px;
  }
  @media screen and (min-width: 700px) {
    left: 20px;
    padding: 0 100px;
  }
  @media screen and (min-width: 320px) {
    left: 0;
    padding: 0 20px;
  }
}

.technology__and__services,
.technology__and__services h2 {
  color: #ffffff;
}

.technology__and__services {
  @media screen and (min-width: 1400px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 14px;
  }
}

.background__image.secondary {
  background: url("assets/images/raw/banner_hp.jpg") no-repeat left center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0%, 100% 1%, 69% 100%, 0% 100%);
  @media screen and (min-width: 700px) {
    display: block;
  }
  @media screen and (min-width: 320px) {
    display: none;
  }
}

// splitting text

.technology__and__services .wrap:hover article .char {
  animation: slide-in 1.75s cubic-bezier(0,.75,0,1) 0s both, will-change 2s linear;
  animation-delay: calc(1s * var(--char-percent));
  opacity: 0.99;

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(150%) scaleX(0.5);
    }
  }

  @keyframes will-change {
    0% { will-change: transform; }
    100% { will-change: auto; }
  }
}

// on hover transitions

.technology__and__services .wrap figure {
  transition: transform 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.technology__and__services .wrap:hover figure {
  transform: scale(1.2);
}