@import "normalize";
@import "../fonts/fonts";
@import "variables";
@import "grid";

// layout

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $text-font-family;
  color: $color-text;
}

.content__wrapper {
  overflow-x: hidden;
}

.component {
  padding: 0 40px;
}

img {
  max-width: 100%;
}

// header

header .row {
  align-items: center;
}

.primary__header {
  background-color: $color-gray;
}

.primary__header .nav__wrap {
  padding: 0 20px;
}


// meta header

.meta__header {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSItOSAtNiAzNjQuODE2IDU2Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojNWQ2NzcxO30uYntmaWx0ZXI6dXJsKCNhKTt9PC9zdHlsZT48ZmlsdGVyIGlkPSJhIiB4PSItOSIgeT0iLTYiIHdpZHRoPSIzNjQuODE2IiBoZWlnaHQ9IjU2IiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiPjxmZU9mZnNldCBkeT0iMyIgaW5wdXQ9IlNvdXJjZUFscGhhIi8+PGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMyIgcmVzdWx0PSJiIi8+PGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMC4xNjEiLz48ZmVDb21wb3NpdGUgb3BlcmF0b3I9ImluIiBpbjI9ImIiLz48ZmVDb21wb3NpdGUgaW49IlNvdXJjZUdyYXBoaWMiLz48L2ZpbHRlcj48L2RlZnM+PGcgY2xhc3M9ImIiIHRyYW5zZm9ybT0ibWF0cml4KDEsIDAsIDAsIDEsIDAsIDApIj48cGF0aCBjbGFzcz0iYSIgZD0iTTAsMEgzNDYuODE2TDMzNC4yNzMsMzhIMFoiLz48L2c+PC9zdmc+) #4A525B no-repeat -195px center;
  background-size: 560px 189px;
  padding: 10px 0;
}

.meta__header .nav__wrap a {
  color: #fff;
  font-size: 14px;
}

.meta__header form {
  margin: 0;
}

// nav

.nav__wrap ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.nav__wrap li {
  display: inline-block;
}

.nav__wrap a {
  color: $color-text;
  text-decoration: none;
  @media screen and (max-width: 1200px) {
    font-size: 14px;
  }
}

// primary nav

.col.primary_nav {
  @media screen and (min-width: 1076px) {
    width: 60%;
  }
  @media screen and (max-width: 1075px) {
    width: 100px;
  }
}

.col.primary_nav ul {
  @media screen and (max-width: 1075px) {
    display: none;
  }
}

// secondary nav

.col.secondary__nav {
  width: 20%;
  @media screen and (max-width: 990px) {
    display: none;
  }
}

// logo

.col.logo {
  width: 30%;
  @media screen and (max-width: 1400px) {
    width: 40%;
  }
  @media screen and (max-width: 1075px) {
    width: 480px;
  }
  @media screen and (max-width: 650px) {
    width: 250px;
  }
}

.logo__wrap {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSItNzggLTIwOCAzNzAgMTMwIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZjhmOGY4O30uYntmaWx0ZXI6dXJsKCNhKTt9PC9zdHlsZT48ZmlsdGVyIGlkPSJhIiB4PSItNzgiIHk9Ii0yMDgiIHdpZHRoPSIzNzAiIGhlaWdodD0iMTMwIiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiPjxmZU9mZnNldCBpbnB1dD0iU291cmNlQWxwaGEiLz48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSI2IiByZXN1bHQ9ImIiLz48ZmVGbG9vZCBmbG9vZC1vcGFjaXR5PSIwLjE2MSIvPjxmZUNvbXBvc2l0ZSBvcGVyYXRvcj0iaW4iIGluMj0iYiIvPjxmZUNvbXBvc2l0ZSBpbj0iU291cmNlR3JhcGhpYyIvPjwvZmlsdGVyPjwvZGVmcz48ZyBjbGFzcz0iYiIgdHJhbnNmb3JtPSJtYXRyaXgoMSwgMCwgMCwgMSwgMCwgMCkiPjxwYXRoIGNsYXNzPSJhIiBkPSJNMCwwSDMzNEwzMDIuNjExLDkzLjY1MiwwLDk0WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTYwIC0xOTApIi8+PC9nPjwvc3ZnPg==) no-repeat -65px center;
  background-size: 505px 189px;
  height: 100px;
  @media screen and (max-width: 650px) {
    background-position: -225px center;
  }
}

.logo__wrap a {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 75px;
  @media screen and (max-width: 650px) {
    padding-left: 30px;
  }
}

.logo {
  width: 165px;
  display: block;
}

.logo .a {
  fill:#5d6771;
  fill-rule: evenodd;
}

.logo .b {
  fill:#e2202d;
}

// forms

input {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 15px;
  height: 30px;
  outline: none;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #747D86;
  border-radius: 0;
  box-shadow: none;
  padding: 0 12px;
}

// search form

.col.search__form {
  width: 25%;
  @media screen and (max-width: 650px) {
    width: 45%;
  }
}

.col.search__form .search__form__wrap {
  @media screen and (max-width: 990px) {
    padding-right: 10px;
  }
}

input.search {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#fff" fill-opacity="1" d="M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z"/></svg>') 8px 53% no-repeat;
  padding-left: 32px;
  color: #ffffff;
}

// social media

.col.social__media {
  width: 10%;
  padding-right: 15px;
  @media screen and (max-width: 1400px) {
    width: 15%;
  }
  @media screen and (max-width: 990px) {
    display: none;
  }
}

.social__media__wrap {
  display: flex;
  justify-content: space-around;
}

.social__media__wrap a {
  width: 25px;
  height: 25px;
  background: #747D86;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4A525B;
  font-size: 14px;
}

// hamburger menu

.hamburger__menu {
  display: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-left: auto;
  @media screen and (max-width: 1075px) {
    display: block;
  }
}

.hamburger__menu .bar,
.hamburger__menu .bar:after,
.hamburger__menu .bar:before {
  width: 50px;
  height: 5px;
}

.hamburger__menu .bar {
  position: relative;
  transform: translateY(25px);
  background: $color-red;
  transition: all 0ms 300ms;
}

.hamburger__menu .bar.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger__menu .bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  background: $color-red;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__menu .bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background: $color-red;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__menu .bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__menu .bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

// mobile menu

.mobile__menu {
  background-color: #fff;
  position: fixed;
  width: 100%;
  transform: translateY(-400px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  z-index: $z-over-all;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 10px 40px rgba(0, 0, 0, 0.15);
}

.mobile__menu.open {
  transform: translateY(0);
  opacity: 1;
}

.mobile__menu ul {
  flex-direction: column;
  padding: 0;
}

.mobile__menu li,
.mobile__menu li a {
  display: block;
}

.mobile__menu li:first-of-type {
  border-top: 1px solid $color-gray;
}

.mobile__menu li {
  border-bottom: 1px solid $color-gray;
}

.mobile__menu li a {
  padding: 20px;
  transition: all 400ms ease-out;
}

.mobile__menu li a:hover {
  background-color: $color-red;
  color: #ffffff;
}

.mobile__close__button {
  text-align: right;
}

.mobile__close__button .circle {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 4px solid $color-red;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  border: 0px solid white;
}

.mobile__close__button .circle:before,
.mobile__close__button .circle:after {
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}

.mobile__close__button .circle:before {
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  width: 24px;
  height: 4px;
  background-color: $color-red;
  content: "";
  position: absolute;
  transform: rotate(45deg);
}

.mobile__close__button .circle:after {
  width: 24px;
  height: 4px;
  background-color: $color-red;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  transform: rotate(-45deg);
}

.mobile__close__button  .circle:hover {
  box-shadow: 0px 0px 0px 6px $color-red inset;
}

.circle[data-animation="showShadow"]:not(.showShadow):hover:before {
  transform: scale(0.7) rotate(45deg);
  transition-delay: 100ms;
}

.circle:hover:after {
  transform: scale(0.7) rotate(-45deg);
  transition-delay: 100ms;
}

// rotating banner

.rotating__banner {
  background: url("assets/images/raw/banner_hp.jpg") no-repeat left center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  @media screen and (min-width: 1440px) {
    height: 650px;
  }
  @media screen and (min-width: 320px) {
    height: 400px;
  }
}

.rotating__banner:after,
.rotating__banner:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  @media screen and (min-width: 1024px) {
    clip-path: polygon(0 0, 100% 0, 83% 99%, 0 100%);
  }
  @media screen and (min-width: 320px) {
    clip-path: none;
  }
  height: 100%;
}

.rotating__banner:before {
  background-color: rgba(255,255,255,0.5);
  @media screen and (min-width: 1440px) {
    width: 55%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.rotating__banner:after {
  background-color: rgba(255,255,255,0.2);
  @media screen and (min-width: 1440px) {
    width: 45%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.rotating__banner .row {
  height: 100%;
  align-items: center;
  position: relative;
}

.rotating__banner .row:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.2);
  height: 100%;
  width: 100%;
  @media screen and (min-width: 1024px) {
    clip-path: polygon(0 0, 100% 77%, 100% 100%, 54% 100%, 0 100%);
  }
  @media screen and (min-width: 320px) {
    clip-path: none;
  }
}

.rotating__banner .row:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,0.2);
  height: 100%;
  width: 20%;
  @media screen and (min-width: 1024px) {
    display: block;
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 82% 100%);
  }
  @media screen and (min-width: 320px) {
    display: none;
  }
}

.rotating__banner .col {
  @media screen and (min-width: 1024px) {
    width: 650px;
  }
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  @media screen and (min-width: 320px) {
    width: 320px;
  }
}

.rotating__banner .content__wrap {
  @media screen and (min-width: 1440px) {
    margin-top: -125px;
  }
  @media screen and (min-width: 320px) {
    margin-top: -75px;
  }
  position: relative;
  z-index: 20;
}

// content slider

.content__slider .col {
  @media screen and (min-width: 1024px) {
    width: 50%;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.content__slider .row {
  align-items: center;
}

.content__slider {
  color: #747D86;
}

.content__slider h4 {
  font-weight: 700;
}

.content__slider img {
  display: block;
  margin: 0 auto;
}

.content__slider .content__wrap {
  padding-left: 20px;
  position: relative;
}

.content__slider .content__wrap:before {
  content: '';
  display: block;
  width: 4px;
  height: 65px;
  background-color: $color-red;
  position: absolute;
  top: 50px;
  left: 0;
}

// Buttons

.button {
  font-size: $button-font-size-small;
  height: $button-height;
  padding: $button-padding-tb $button-padding-large-rl;
  color: #4A525B;
  border: 1px solid $border-color-yellow;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  vertical-align: middle;
}

.button.white {
  color: #ffffff;
}
// Blueprint Wrap

.blueprint__wrap {
  background: url("assets/images/raw/blueprint.svg") no-repeat left center;
  background-size: 110%;
}

// Typography

// -- headers

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: $color-headings;
}

h1 {
  @media screen and (min-width: 1440px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
  @media screen and (min-width: 320px) {
    font-size: 25px;
  }
}

h2 {
  @media screen and (min-width: 1440px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
  @media screen and (min-width: 320px) {
    font-size: 20px;
  }
}

p:not(:last-child) {
  margin-bottom: 40px;
}

// -- helpers

.text__align__center {
  text-align: center;
}

// -- title

.title:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjE3OC40NjkgODM5LjgwNiA0Ni40MiA2LjE5NCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2ViMDAyOTt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xMi4wMzQsNUg1Ni4yMjJMNTMuOTkxLDExLjJIOS44WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTY4LjY2NiA4MzQuODAyKSIvPjwvc3ZnPg==);
  display: block;
  margin-bottom: 40px;
  width: 46px;
  height: 6px;
}

// ul icons list

.icon__list {
  list-style-type: none;
  padding: 0;
}

.icon__list li {
  border-top: 1px solid #EB0029;
  padding: 20px 0;
}

.icon__list .wrap {
  display: flex;
  align-items: center;
}

.icon__list img {
  height: auto;
  @media screen and (min-width: 1200px) {
    width: 50px;
  }
  @media screen and (min-width: 1024px) {
    width: 30px;
  }
  @media screen and (min-width: 320px) {
    width: 25px;
  }
}

.icon__list figure {
  margin: 0 15px 0 0;
}

// background image

.background__image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

// tint

.tint:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

// footer

footer {
  background-color: #E5E6E6;
  font-size: 12px;
}

footer.component {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer,
footer a {
  color: #B2B2B2;
}

footer .row {
  align-items: center;
}

footer .col  {
  flex: 0 0 auto;
   @media screen and (min-width: 605px) {
     width: auto;
     padding: 0;
   }
  @media screen and (min-width: 320px) {
    width: 100%;
    padding: 10px 0;
  }
}

footer .col.footer__logo a {
  display: block;
}

.copyright.component {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  background-color: #4A525B;
  font-size: 12px;
}

@import "technology-and-services";
@import "news-posts";
@import "history";