@import "normalize";
@import "animista";
@import "../fonts/fonts";
@import "variables";
@import "grid";
@import "flickity";
@import "splitting";
@import "splitting-animations";
@import "static-banner";
@import "sidebar";

// layout

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: $text-font-family;
  color: $color-text;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.content__wrapper {
  overflow-x: hidden;
  flex: 1 0 auto;
}

.component {
  padding: 0 40px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  border-bottom:  1px solid rgba(0,0,0,0.10);
}

header .row {
  align-items: center;
}

.primary__header {
  background-color: $color-gray;
}

// meta header

.meta__header {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSItOSAtNiAzNjQuODE2IDU2Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojNWQ2NzcxO30uYntmaWx0ZXI6dXJsKCNhKTt9PC9zdHlsZT48ZmlsdGVyIGlkPSJhIiB4PSItOSIgeT0iLTYiIHdpZHRoPSIzNjQuODE2IiBoZWlnaHQ9IjU2IiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiPjxmZU9mZnNldCBkeT0iMyIgaW5wdXQ9IlNvdXJjZUFscGhhIi8+PGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMyIgcmVzdWx0PSJiIi8+PGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMC4xNjEiLz48ZmVDb21wb3NpdGUgb3BlcmF0b3I9ImluIiBpbjI9ImIiLz48ZmVDb21wb3NpdGUgaW49IlNvdXJjZUdyYXBoaWMiLz48L2ZpbHRlcj48L2RlZnM+PGcgY2xhc3M9ImIiIHRyYW5zZm9ybT0ibWF0cml4KDEsIDAsIDAsIDEsIDAsIDApIj48cGF0aCBjbGFzcz0iYSIgZD0iTTAsMEgzNDYuODE2TDMzNC4yNzMsMzhIMFoiLz48L2c+PC9zdmc+) #4A525B no-repeat -195px center;
  background-size: 560px 189px;
  padding: 10px 0;
}

.meta__header .nav__wrap a {
  color: #fff;
  font-size: 14px;
}

.meta__header .nav__wrap a:before, .meta__header .nav__wrap a:after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.meta__header .nav__wrap a:before {
  margin-right: 10px;
  content: '[';
  transform: translateX(20px);
}

.meta__header .nav__wrap a:after {
  margin-left: 10px;
  content: ']';
  transform: translateX(-20px);
}

.meta__header .nav__wrap a:hover:before,
.meta__header .nav__wrap a:hover:after {
  transform: translateX(0px);
  opacity: 1;
}

.meta__header form {
  margin: 0;
}

.secondary__nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.secondary__nav ul li {
  display: block;
  margin-bottom: 0;
  text-align: right;
  width: 100%;
}

.secondary__nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  transition: 350ms all;
  &:hover {
    opacity: 0.5;
  }
}

// primary nav

.primary_nav {
  @media screen and (min-width: 1100px) {
    width: 75%;
  }
  @media screen and (min-width: 320px) {
    width: 40%;
  }
}
.primary_nav .menu {
  @media screen and (min-width: 1100px) {
    display: flex;
  }
  @media screen and (min-width: 320px) {
    display: none;
  }
}
.primary_nav a {
  font-size: 14px;
  //@media screen and (min-width: 1280px) {
  //    font-size: 16px;
  //}
  //@media screen and (min-width: 320px) {
  //  font-size: 14px;
  //}
}
.col.logo {
  @media screen and (min-width: 768px) {
    width: 25%;
  }
}
.menu-secondary-menu {
  padding-right: 65px;
}
.menu {
  display: flex;
  padding: 0 45px;
  justify-content: space-around;
  margin: 0;
  height: 100%;
}
.primary_nav {
  min-height: 100%;
  align-self: stretch;
  align-items: center;
}
.primary_nav ul span {
  display: block;
  cursor: default;
  color: #747d86;
  font-size: 14px;
}
.primary_nav li {
  list-style-type: none;
  margin-bottom: 0 !important;
  z-index: 2;
  display: flex;
  align-items: center;
  position: relative;
}
//.primary_nav li:not(:last-child) {
//  margin-right: 10%;
//}
.primary_nav a {
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
  z-index: 2;
  color: #747d86;
}
.primary_nav > ul li:hover a,
li.current_page_item a {
  color: #EB002A;
}
li:hover[class^="icon-"]:before,
li.current_page_item[class^="icon-"]:before {
  color: #EB002A;
  cursor: pointer;
}
.sub-menu {
  position: absolute;
  top: 100px;
  z-index: 9999999;
  min-height: 300px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  background-color: #fff;
  left: -5rem;
  @media screen and (max-width: 1300px ) {
    min-width: 225px;
  }
  @media screen and (min-width: 1400px ) {
    min-width: 250px;
  }
}
.sub-menu:not(.grand-children-sub-menu):before,
.sub-menu:not(.grand-children-sub-menu):after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sub-menu a {
  padding: 20px 12px;
}
.sub-menu li {
  font-size: 14px;
  transition: all 350ms ease-out;
  background-color: #fff;
}
.sub-menu li a {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.sub-menu li:hover {
  background-color: #F2F2F2;
}
.sub-menu li:hover > a {
  color: #EB0029;
}
.sub-menu .has-sub {
  position: static;
}
.sub-menu .has-sub > a:after {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  transform: rotate(315deg);
  color: #ffb100;
  content: '';
  display: inline-block;
  height: 6px;
  right: 10px;
  position: absolute;
  top: 25px;
  width: 6px;
}
.has-sub:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
.grand-children-sub-menu {
  margin: 0;
  top: 0;
  left: 100%;
}
li[class^="icon-"]:before,
li[class^="icon-"] a:before {
  position: absolute;
  display: block;
  @media screen and (min-width: 1600px) {
    font-size: 25px;
    left: -30px;
  }
  @media screen and (min-width: 1076px) {
    font-size: 16px;
    left: -20px;
  }
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0.8;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: .3;
    transition: color 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms;
}

.icon-applications:before {
  content: "\e900";
}
.icon-contact > a:before {
  content: "\e901";
}
.icon-our-company:before {
  content: "\e902";
}
.icon-resources:before {
  content: "\e903";
}
.icon-technology-and-solutions:before {
  content: "\e904";
}

// secondary nav

.secondary__nav {
  width: 20%;
  @media screen and (max-width: 990px) {
    display: none;
  }
}

// logo


.logo__wrap {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSItNzggLTIwOCAzNzAgMTMwIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZjhmOGY4O30uYntmaWx0ZXI6dXJsKCNhKTt9PC9zdHlsZT48ZmlsdGVyIGlkPSJhIiB4PSItNzgiIHk9Ii0yMDgiIHdpZHRoPSIzNzAiIGhlaWdodD0iMTMwIiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiPjxmZU9mZnNldCBpbnB1dD0iU291cmNlQWxwaGEiLz48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSI2IiByZXN1bHQ9ImIiLz48ZmVGbG9vZCBmbG9vZC1vcGFjaXR5PSIwLjE2MSIvPjxmZUNvbXBvc2l0ZSBvcGVyYXRvcj0iaW4iIGluMj0iYiIvPjxmZUNvbXBvc2l0ZSBpbj0iU291cmNlR3JhcGhpYyIvPjwvZmlsdGVyPjwvZGVmcz48ZyBjbGFzcz0iYiIgdHJhbnNmb3JtPSJtYXRyaXgoMSwgMCwgMCwgMSwgMCwgMCkiPjxwYXRoIGNsYXNzPSJhIiBkPSJNMCwwSDMzNEwzMDIuNjExLDkzLjY1MiwwLDk0WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTYwIC0xOTApIi8+PC9nPjwvc3ZnPg==) no-repeat -65px center;
  background-size: 505px 189px;
  height: 100px;
  @media screen and (max-width: 650px) {
    background-position: -225px center;
  }
}

.logo__wrap a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 15px;
}

.logo__wrap a svg {
  display: block;
  margin: 0 auto;
}

.logo {
  width: 165px;
  display: block;
}

.logo .a {
  fill:#5d6771;
  fill-rule: evenodd;
}

.logo .b {
  fill:#e2202d;
}

// forms

input {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 15px;
  height: 30px;
  outline: none;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #747D86;
  border-radius: 0;
  box-shadow: none;
  padding: 0 12px;
}

// search form

#form {
  position: relative;
}

.search__form {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 650px) {
    width: 45%;
  }
}

.search__form .search__form__wrap {
  @media screen and (min-width: 320px) {
    padding: 0 10px;
  }
}

.search__form .search__form__wrap input {
  border-bottom: 1px solid rgba(255,255,255,0.05);
  position: relative;
  z-index: 5;
  padding-left: 25px;
}

input.search {
  color: #ffffff;
  transition: all 300ms;
  padding-left: 0;
}

.icons__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  overflow: hidden;
}

.icon__search,
.icon__close {
  width: 12px;
  height: 12px;
}

.icon__search {
  position: relative;
  top: 5px;
  left: 0;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #ffffff;
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.icon__search:after {
  content: "";
  position: absolute;
  bottom: -9px;
  right: -5px;
  width: 2px;
  border-radius: 3px;
  transform: rotate(-45deg);
  height: 10px;
  background-color: #ffffff;
}

.icon__close {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  opacity: 0;
  cursor: pointer;
  z-index: 6;
  transform: translateX(25px);
  border-radius: 50%;
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.icon__close:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 2px solid transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #ffffff;
  transition: opacity 0.2s ease;
}

.x__up,
.x__down {
  position: relative;
  width: 100%;
  height: 50%;
}

.x__up:before,
.x__up:after,
.x__down:before,
.x__down:after {
  background-color: #ffffff;
}

.x__up:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 3px;
  width: 50%;
  height: 2px;
  transform: rotate(45deg);
}

.x__up:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 50%;
  height: 2px;
  transform: rotate(-45deg);
}

.x__down:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 50%;
  height: 2px;
  transform: rotate(-45deg);
}

.x__down:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 50%;
  height: 2px;
  transform: rotate(45deg);
}

.icon__search.inactive {
  transform: translateX(-200%);
  opacity: 0;
}

.icon__close.active {
  transform: translateX(0);
  opacity: 1;
}

// social media

.col.social__media {
  width: 10%;
  padding-right: 15px;
  @media screen and (max-width: 1400px) {
    width: 15%;
  }
  @media screen and (max-width: 990px) {
    display: none;
  }
}

.social__media__wrap {
  display: flex;
  justify-content: space-around;
}

.social__media__wrap a {
  width: 25px;
  height: 25px;
  background: #747D86;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4A525B;
  font-size: 14px;
  position: relative;
  transition: box-shadow 0.2s ease-out;
}

.social__media__wrap a:hover {
  box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
  color: #fff;
}

.social__media__wrap a:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 3px rgba(255,255,255,0.05);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.social__media__wrap a:hover:after {
  transform: scale(0.85);
  opacity: 0.5;
}

// hamburger menu

.hamburger__menu {
  display: none;
  width: 44px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  @media screen and (min-width: 1100px) {
    display: none;
  }
  @media screen and (min-width: 320px) {
    display: block;
  }
}

.hamburger__menu .bar,
.hamburger__menu .bar:after,
.hamburger__menu .bar:before {
  width:  44px;
  height: 5px;
}

.hamburger__menu .bar {
  position: relative;
  transform: translateY(25px);
  background: $color-red;
  transition: all 0ms 300ms;
}

.hamburger__menu .bar.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger__menu .bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: $color-red;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__menu .bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: $color-red;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__menu .bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__menu .bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

// mobile menu

.mobile__menu {
  background-color: #fff;
  position: fixed;
  width: 100%;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  z-index: $z-over-all;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 10px 40px rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

.mobile__menu.open {
  pointer-events: auto;
}

.mobile__menu ul {
  flex-direction: column;
  padding: 0;
  display: block;
}
.mobile__menu li {
  position: relative;
}
.mobile__menu li[class^="icon-"]:before, .mobile__menu li[class^="icon-"] a:before {
  top: 25px;
  left: 15px;
}

.mobile__menu li.active:before {
  color: #ffffff;
}

.mobile__menu .sub-menu {
  min-height: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: static;
  width: 100%;
  visibility: visible;
}

.mobile__menu li,
.mobile__menu li a {
  display: block;
}

.mobile__menu li.menu-item-has-children:after {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  transform: rotate(315deg);
  color: $color-red;
  content: '';
  display: inline-block;
  height: 6px;
  right: 20px;
  position: absolute;
  top: 25px;
  width: 6px;
  transition: all 350ms ease-out;
}

.mobile__menu li.active.menu-item-has-children:after {
  color: white;
  transform: rotate(403deg);
}

.mobile__menu li:first-of-type {
  border-top: 1px solid $color-gray;
}

.mobile__menu ul li:not(:last-child) {
  border-bottom: 1px solid $color-gray;
}

.mobile__menu li a {
  padding: 20px 40px;
  transition: all 400ms ease-out;
  text-decoration: none;
  color: $color-dark-gray;
}

.mobile__menu li a.active {
  background-color: $color-red;
  color: #ffffff;
}

.mobile__menu li ul.active {
  pointer-events: auto;
}

.mobile__close__button {
  text-align: right;
}

.mobile__close__button .circle {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 4px solid $color-red;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  border: 0px solid white;
}

.mobile__close__button .circle:before,
.mobile__close__button .circle:after {
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}

.mobile__close__button .circle:before {
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  width: 24px;
  height: 4px;
  background-color: $color-red;
  content: "";
  position: absolute;
  transform: rotate(45deg);
}

.mobile__close__button .circle:after {
  width: 24px;
  height: 4px;
  background-color: $color-red;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  transform: rotate(-45deg);
}

.mobile__close__button  .circle:hover {
  box-shadow: 0 0 0 6px $color-red inset;
}

.circle:focus {
  outline: 0;
}

.circle[data-animation="showShadow"]:not(.showShadow):hover:before {
  transform: scale(0.7) rotate(45deg);
  transition-delay: 100ms;
}

.circle:hover:after {
  transform: scale(0.7) rotate(-45deg);
  transition-delay: 100ms;
}

.mobile__menu {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.mobile__menu .sub__menu__grandchild__title,
.mobile__menu .parent__nav__item a,
.mobile__menu .sub__menu__title,
.mobile__menu .sub__menu__child__title {
  font-size: 14px;
  display: block;
}

.mobile__menu .sub__menu__grandchild__title {
  padding: 20px 40px;
}

.mobile__menu .parent__nav__item a {
  padding-left: 45px;
}

.mobile__menu .sub__menu__title {
  padding: 20px 40px;
}

.mobile__menu .sub__menu__child__title {
  color: $color-red;
  padding: 20px 40px 20px 50px;
  background-color: #fff;
}


.mobile__menu .sub__menu .child__sub__menu li a {
  padding-left: 60px;
}

.mobile__menu li.parent__nav__item:before {
  width: 25px;
  height: 25px;
  top: 22px;
  left: 20px;
}

.mobile__menu .parent__nav__item span {
  transition: all 300ms ease-out;
  position: relative;
}

.mobile__menu .parent__nav__item.open > span {
  background: #4a525b;
  color: #ffffff;
}

.mobile__menu .parent__nav__item span:before {
  content: "+";
  color: #4a525b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 35px;
  height: 35px;
  font-size: 20px;
  transition: all 300ms ease-out;
}

.mobile__menu .parent__nav__item.open > span:before,
.mobile__menu .child__nav__item.open > span:before {
  transform: rotate(45deg);
}

.mobile__menu .parent__nav__item.open > span:before {
  color: #fff;
}

.mobile__menu .child__nav__item.open > span:before {
  color: $color-red;
}
// rotating banner

.rotating__banner {
  padding: 0;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  opacity: 0;
  transition: opacity 0.4s;
  height: 650px;
}

.rotating__banner.flickity-enabled {
  opacity: 1;
}
.rotating__banner .flickity-page-dots {
  bottom: 115px;
  @media screen and (min-width:767px) {
    left: 80px;
  }
  @media screen and (min-width:320px) {
    left: 40px;
  }
}


.rotating__banner.is-hidden {
  opacity: 0;
  transition: all 300ms ease-out;
}

.rotating__banner .row {
  height: 100%;
  align-items: center;
  position: relative;
}

.rotating__banner .col {
  @media screen and (min-width: 1024px) {
    width: 650px;
  }
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.rotating__banner .content__wrap {
  padding: 40px;
  @media screen and (min-width: 1440px) {
    margin-top: -125px;
    margin-left: 40px;
  }
  @media screen and (min-width: 320px) {
    margin-top: -75px;
  }
  position: relative;
  z-index: 20;
}

.rotating__banner .carousel__cell {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.rotating__banner .carousel__cell:after {
  content: "";
  clip-path: polygon(0 0, 100% 65%, 100% 100%, 0% 100%);
  display: block;
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
}

.rotating__banner .carousel__cell .row:before {
  content: "";
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
  display: block;
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 900px;
}

.rotating__banner .carousel__cell .row:after {
  content: "";
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
  display: block;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 1050px;
}

.rotating__banner h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

.rotating__banner h3 {
  margin: 0;
}

.rotating__banner p {
  font-size: 14px;
}

.rotating__banner .button {
  margin-top: 15px;
}

// content slider

.content__slider {
  padding: 0;
  color: #747D86;
  opacity: 0;
  min-height: 400px;
  transition: all 300ms ease-out;
  @media screen and (min-width: 767px) {
    margin: 150px auto 250px auto;
    max-width: 80%;
  }
  @media screen and (min-width: 320px) {
    margin: 90px auto 100px auto;
  }
}

.content__slider h1 {
  font-size: 40px;
}

.content__slider.flickity-enabled {
  opacity: 1;
}

.content__slider.is-hidden {
  opacity: 0;
  transition: opacity 0.4s;
}

.content__slider .content__wrap {
  padding: 40px;
  position: relative;
}

.content__slider .col {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}

.content__slider .carousel__cell .row .col:first-child {
  @media screen and (min-width: 1024px) {
    width: 50%;
  }
}

.content__slider .carousel__cell .row .col:last-child {
  @media screen and (min-width: 1024px) {
    width: 40%;
  }
}

.content__slider .row {
  align-items: center;
}

//.content__slider h1 {
//  padding-left: 60px;
//}

.content__slider h4 {
  font-weight: 700;
}

.content__slider img {
  display: block;
  margin: 0 auto;
}

.content__slider .content__wrap.last:before {
  content: '';
  display: block;
  width: 4px;
  height: 0;
  opacity: 0;
  background-color: $color-red;
  position: absolute;
  top: 110px;
  left: 0;
  transition: opacity 300ms ease-out, height 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 450ms;
}

// content slider transition animations

.content__slider h4 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 300ms ease-out, transform 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 250ms;
}

.content__slider h3 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 300ms ease-out, transform 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 250ms;
}

.content__slider p {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 300ms ease-out 300ms, transform 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 450ms;
}

.content__slider .is-selected h3,
.content__slider .is-selected h4,
.content__slider .is-selected p {
  opacity: 1;
  transform: translateY(0);
}

.content__slider .is-selected .button {
  transition-delay: 600ms;
}

.content__slider .title:before {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s ease-out 300ms, transform 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 450ms;
}

.content__slider .is-selected .title:before {
  opacity: 1;
  transform: translateX(0);
}

.content__slider .is-selected .content__wrap.last:before {
  opacity: 1;
  height: 65px;
}


// flickity

.flickity-viewport {
  transition: height 500ms ease-out;
}

.flickity-page-dots {
  left: 0;
  width: auto;
  z-index: 20;
}

.content__slider .flickity-page-dots {
  left: 40px;
}

.flickity-page-dots .dot {
  border-radius: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ijc0NjMuNDY5IDc3NTIuOTk4IDE3LjY0OSAxMy4wMDIiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiNlYjAwMjk7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJhIiBkPSJNMTQuNDg3LDVIMjcuNDUybC00LjY4NCwxM0g5LjhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NDUzLjY2NiA3NzQ3Ljk5NSkiLz48L3N2Zz4=) no-repeat;
  width: 18px;
  height: 13px;
  margin: 0;
  position: relative;
  opacity: 1;
  transform: scale(0.5);
  transition: all 300ms ease-out;
}

.dot.is-selected {
  transform: scale(1);
}

.carousel__cell {
  width: 100%;
}

.carousel__cell .button {
  transform: translateY(50px);
  opacity: 0;
}

.is-selected .button {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms, opacity 300ms ease-out 300ms;
}

// Buttons

.button {
  font-size: $button-font-size-small;
  height: $button-height;
  padding: $button-padding-tb $button-padding-large-rl;
  color: #4A525B;
  border: 1px solid $border-color-yellow;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  background: none;
}

.button:hover {
  color: inherit;
}

.button > span {
  vertical-align: middle;
  display: block;
}
.button > span,
.button:before {
  transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1), color cubic-bezier(0.75, 0, 0.125, 1) 0.6s;
}

.button:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffb100;
  transform: translate3d(-100%, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.button:hover:before {
  transform: translate3d(0, 0, 0);
  color: #ffffff;

}

.button:hover > span {
  transform: translate3d(0, 110%, 0);
}

.button:hover > span,
.button:hover:before {
  transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1);
}

.button.white {
  color: #ffffff;
}
// Blueprint Wrap

.product__background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  video {
    width: 100%;
    height: 100%;
  }
}

.blueprint__wrap {
  .image--wrap {
    position: relative;
  }
  .call--outs {
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(50px);
    .st0 {
      enable-background: new
    }
    .st1 {
      fill: #949899;
    }
    .st2 {
      fill: none;
      stroke: #949899;
      stroke-width: 4;
      stroke-miterlimit: 10
    }
  }
}

// Typography

// -- blockquote

blockquote {
  border-left: 1px solid rgba(0,0,0,0.10);
  padding-left: 30px;
  margin: 30px 0;
}

blockquote p {
  font-size: 22px;
  font-weight: 700;
}

// -- links

p a {
  transition: all 300ms ease-out;
  color: $color-red;
}

p a:hover {
  color: $color-silver;
}

// -- headers

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: $color-headings;
}

h1:first-child,
h2:first-child  {
  margin-top: 0;
}

h1 {
  @media screen and (min-width: 1440px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1100px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
  @media screen and (min-width: 320px) {
    font-size: 25px;
  }
}

h2 {
  @media screen and (min-width: 1440px) {
    font-size: 40px;
  }
  @media screen and (min-width: 320px) {
    font-size: 30px;
  }
}

h3 {
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1100px) {
    font-size:20px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
  @media screen and (min-width: 320px) {
    font-size: 16px;
  }
}

p {
  line-height: 25px;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 35px 0;
}

li:not(:last-child) {
  margin-bottom: 15px;
}

ul.documents {
  list-style-type: none;
  font-size: 14px;
}

ul.documents img {
  width: 25px;
  height: 25px;
}

ul.documents li a {
  display: flex;
  background-color: #F8F8F8;
  padding: 20px;
  margin-bottom: 15px;
  color: #5d6771;
  text-decoration: none;
  align-items: center;
}

ul.documents figure {
  margin: 0 15px 0 0;
}

// -- helpers

.text__align__center {
  text-align: center;
}

.text__align__right {
  text-align: right;
}

.span__block {
  display: block;
}

// -- title

.title {
  font-weight: 300 !important;
}

.title:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjE3OC40NjkgODM5LjgwNiA0Ni40MiA2LjE5NCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2ViMDAyOTt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xMi4wMzQsNUg1Ni4yMjJMNTMuOTkxLDExLjJIOS44WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTY4LjY2NiA4MzQuODAyKSIvPjwvc3ZnPg==);
  display: block;
  margin-bottom: 40px;
  width: 46px;
  height: 6px;
  transition: all 200ms ease-out;
  position: relative;
}

// ul icons list

.icon__list {
  list-style-type: none;
  padding: 0;
}

.icon__list li {
  border-top: 1px solid #EB0029;
  margin-bottom: 0;
}

.icon__list .wrap {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.icon__list img {
  height: auto;
  @media screen and (min-width: 1100px) {
    width: 50px;
  }
  @media screen and (min-width: 1024px) {
    width: 30px;
  }
  @media screen and (min-width: 320px) {
    width: 25px;
  }
}

.icon__list figure {
  margin: 0 15px 0 0;
}

// background image

.background__image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.background__image__contrast {
  filter: contrast(120%);
  opacity: 0;
  transition: all 300ms ease-out;
}
.background__image.secondary {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0%, 100% 1%, 69% 100%, 0% 100%);
  @media screen and (min-width: 700px) {
    display: block;
  }
  @media screen and (min-width: 320px) {
    display: none;
  }
}
// tint

.tint:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

// footer

footer {
  background-color: #E5E6E6;
  font-size: 12px;
}

footer.component {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer,
footer a {
  color: #B2B2B2;
}

footer a:hover {
  color: $color-red;
}

footer li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 0 !important;
}

footer li:not(:last-child) {
  margin-right: 15px;
}

footer a {
  transition: all 300ms ease-out;
  @media screen and (min-width: 767px) {
    display: inline-block;
  }
  @media screen and (min-width: 320px) {
    display: block;
  }
}

footer a:not(:last-child) {
  @media screen and (min-width: 767px) {
    margin-right: 15px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 320px) {
    margin-bottom: 15px;
  }
}

footer .row {
  align-items: center;
}

footer .col  {
  flex: 0 0 auto;
   @media screen and (min-width: 605px) {
     width: auto;
     padding: 0;
   }
  @media screen and (min-width: 320px) {
    width: 100%;
    padding: 10px 0;
  }
}

footer .col.footer__logo a {
  display: block;
}

.copyright.component {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  background-color: #4A525B;
  font-size: 12px;
}

// read more

a .read__more {
  display: block;
  text-align: right;
  color: #ffffff;
  opacity: 0;
  transition: opacity 500ms ease-out 500ms;
}

a:hover .read__more {
  opacity: 1;
  transition: opacity 500ms ease-out 500ms;
}

a .read__more:before {
  content: "";
  display: inline-block;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ijc0NjMuNDY5IDc3NTIuOTk4IDE3LjY0OSAxMy4wMDIiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiNlYjAwMjk7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJhIiBkPSJNMTQuNDg3LDVIMjcuNDUybC00LjY4NCwxM0g5LjhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NDUzLjY2NiA3NzQ3Ljk5NSkiLz48L3N2Zz4=);
  width: 18px;
  height: 13px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

// arrows

.arrow {
  display: block;
  cursor: pointer;
}

.arrow path {
  transition: all 300ms ease-out;
}

.prev__arrow {
  transform: rotate(90deg);
}

.next__arrow {
  transform: rotate(-90deg);
  margin-left: auto;
}

// video wrap

.video__wrap {
  position: relative;
}

.video__wrap img {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
  display: block;
}

.video__wrap .play__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 75px;
  z-index: 2;
  fill: #fff;
}

// tables
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-top: 1px solid #ececec;
}
th {
  text-align: left;
  padding: 15px;
  border-left: medium none;
  border-style: none solid solid none;
  border-top: medium none;
  border-width: medium 1px 1px medium;
  border-color: #ececec;
  vertical-align: bottom;
}
td {
  padding: 15px;
  border-color: #ececec;
  border-left: none;
  border-style: none solid solid none;
  border-top: medium none;
  border-width: medium 1px 1px medium;
}
th,
td {
  width: 15%;
  font-size: 14px;
}
.stripes tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

// pagination
.page-numbers {
  display: inline-block;
  padding: 8px 12px;
  box-shadow: 0 1.5px 4px rgba(0,0,0,0.24), 0 1.5px 6px rgba(0,0,0,0.12);
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  background-color: #fff;
}
.page-numbers:not(:last-child) {
  margin-right: 5px;
}
.page-numbers.current {
  background-color: #4A525B;
  color: #ffffff;
}

// 404

.four-o-four__page {
  max-width: 990px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.four-o-four__page header {
  border-bottom: none;
}

.four-o-four__page h1 {
  margin-bottom: 0;
}

//.scroll__wrap {
//  max-height: 400px;
//  overflow: scroll;
//}
.scroll__wrap ul {
  margin-top: 0;
}

// resources
.resources--list {
  max-width: 95%;
  margin: 50px auto;
  ul {
    list-style-type: none;
  }
}

.resource--wrap {
  a {
    display: flex;
    color: #5d6771;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    text-decoration: none;
    align-items: center;
    transition: all 350ms;
  }
  a:hover {
    color: $color-red;
  }
  figure {
    margin: 0 15px 0 0;
  }
  img {
    width: 25px;
    height: 25px;
  }
}

.menu-item-type-custom > a {
  cursor: default;
}

@import "drill-down";
@import "technology-and-services";
@import "news-posts";
@import "history";
@import "aboutPage/about";
@import "locations/locations";
@import "interiorPage/interiorPage";
@import "newsroom/newsrooms";
@import "categoryPage/categoryPage";
@import "searchPage/searchPage";
@import "contactPage/contact";
@import "careersPage/careers";
