#map {
  height: 900px;
  position: relative;
  top: -90px;
}

.map__wrapper {
  position: relative;
  width: 100%;
}

.location__module__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 320px) {
    min-width: 0;
    width: 100%;
    right: 0;
  }
  @media screen and (min-width: 767px) {
    width: 550px;
    right: 45px;
  }
}

.location__module {
 // background-color: #F2F2F2;
  background-color: rgba(242, 242, 242, 0.5);
  //box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  border-top: 1px solid  rgba(0, 0, 0, 0.05);
  padding: 25px;
  width: 100%;
}

.maps__button {
  display: block;
  padding: 0;
}

.weather__container {
  opacity: 0;
  position: relative;
  transition: opacity 300ms ease-out;
}

.weather__container.active {
  opacity: 1;
}

.weather__container .col {
  width: auto;
  padding: 10px;
}

.weather__container .col:last-child {
  font-size: 12px;
  color: #960000;
}

.weather__container p {
  margin: 0;
  line-height: 18px;
}

.maps__button {
  background-color: transparent;
  border: none;
  margin-bottom: 25px;
  color: #5D6771;
  cursor: pointer;
}

.maps__button:last-child {
  margin-bottom: 0;
}

.maps__button:focus {
  outline: 0;
}

.weather__container,
.maps__button {
  font-size: 14px;
}

.region__button {
  position: relative;
  padding-left: 35px;
}

.region__button:before {
  display: block;
  content: "";
  border-radius: 50%;
  background-color: #cccccc;
  border: 3px solid transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms ease-out;
}

.region__button.active:before {
  background-color: #FFB100;
  border:3px solid #2A3036;
}

.location__button {
  margin-bottom: 5px;
}

.location__module.locations,
.location__module.local,
.location__module.contact{
  opacity: 0;
  z-index: -1;
  transform: translateY(50px);
}

.location__module.local {
  position: relative;
}


.location__module.locations,
.location__module.local {
  // background-color: #E5E6E6;
  background-color: rgba(229, 230, 230, 0.5);
}

.location__module.contact {
  background-color: #E2E2E2;
}

span.temperature {
  font-size: 60px;
}

span.temperature sup {
  font-size: 12px;
  vertical-align: super;
}

span.city {
  font-size: 18px;
  margin: 5px 0;
}

span.region {
  font-size: 12px;
}

span.region,
span.day {
  color: #960000;
}

.module__title h1 {
  font-weight: 700;
  color: #5d6771;
  font-size: 18px;
  display: inline-block;
  width: 250px;
  max-width: 100%;
  position: relative;
  margin-bottom: 25px;
  //&:before {
  //  position: absolute;
  //  left: -30px;
  //  top: 0;
  //  height: 100%;
  //  width: 100%;
  //  content: "";
  //  display: block;
  //  clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 99%);
  //  background-color: #960000;
  //}
}

.module__title span {
  position: relative;
  z-index: 2;
}

.cities h4 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 0;
  color: #960000;
}

.location__module.contact h4 {
  font-weight: 700;
  color: #960000;
  margin-bottom: 5px;
}

.location__module.contact address p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.location__module .loader {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 44px;
  height: 44px;
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.location__module .loader.inactive {
  opacity: 0;
}